.header-component {
  width: 80%;
  margin: auto;
  background-color: #004C96; }
  .header-component h1 {
    color: #fff;
    text-align: center; }
  .header-component .logo {
    background-image: url("x-wing.svg");
    width: 300px;
    height: 162px;
    background-repeat: no-repeat;
    padding-top: 30px;
    margin: 0 auto; }
  .header-component .header-title {
    font-size: 40px; }
  .header-component .header-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; }
  .header-component button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5195D9;
    font-family: 'Spectral SC', serif;
    position: relative;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    padding-top: 4px;
    border-radius: 5px;
    margin-bottom: 30px; }
  .header-component button:hover {
    background-color: rgba(42, 252, 255, 0.8);
    box-shadow: 0px 0px 56px -6px #dbe2ff; }
  .header-component span {
    position: absolute;
    right: 0;
    top: -5px;
    background-color: rgba(0, 93, 94, 0.5);
    padding: 14px; }

@media only screen and (max-width: 600px) {
  .header-component button {
    font-size: 14px; } }
